body{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    margin-top: 10%;
}

h1{
    color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 400%;
    font-weight: 900;
    padding-left: 5%;
    padding-right: 5%;
}

h3{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 300%;
    font-weight: 900;
    padding-left: 5%;
    padding-right: 5%;
}